@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Arben Sabani<br />
    <abbr title="E-Mail">E-Mail:</abbr>
    <a href="mailto:arben.sabani@gmail.com">arben.sabani@gmail.com</a>
</address>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/arben-sabani-339074128/">Arben Sabani</a><br />
</address>
